/.idea
*.pyc
/cool_place/test.py
.vscode
**/.DS_Store
cool_place/coolspaceConfig.json

data/C_25GN1.LAZ
/data
/Calculating shade/archive/data
Calculating shade/archive/final/top_CHM_25DN2.TIF
/Calculating shade/archive/final
/Calculating shade/archive/output
/Calculating shade/shade_calculation/output
/Calculating shade/archive/tryout
Calculating shade/Calculating_chm_dsm/myfile.geojson
/Calculating shade/data
/Calculating shade/Calculating_chm_dsm/output
/Calculating shade/Calculating_chm_dsm/data
/shade_calculation/path
shade_calculation/src/amsterdam
/shade_calculation/src/testingbounds
/shade_calculation/test
Calculating shade/archive/fixing_shademap.py
/Calculating shade
/Calculating shade

/.vs/
docs/figs/shade/amsterdam_DTM.TIF
docs/figs/shade/amsterdam_DSM.TIF
*.TIF
docs/figs/shade/amsterdam_DTM.TIF
docs/figs/shade/amsterdam_DTM.TIF.aux.xml
docs/figs/shade/amsterdam_DTM.TIF
docs/figs/shade/amsterdam_DSM.TIF.aux.xml
example_run/data/ams_PET_average.tiff
example_run/data/coolspace.gpkg
